.chat-card {
  background-color: rgba(242, 246, 249, 0.6);
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .chat-card-body {
    display: flex;
  flex-direction: column;
  padding: 10px;
  }

  .message-input-container {
    display: flex;
    justify-content: flex-start; /* O flex-end para alinear a la derecha */
    margin-top: 10px;
  }
  
  .message-input-container.right {
    justify-content: flex-end;
  }
  
  .chat-message {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
    animation: fadeIn 0.3s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .chat-sender {
    font-weight: bold;
  }
  
  .chat-message-right {
    background-color: #3c91e6;
    color: #fff;
    border-radius: 20px 20px 0 20px;
    padding: 10px 20px;
    margin: 0 0 10px auto;
    max-width: 60%;
    text-align: right;
    display: inline-block;
    animation: slideInRight 0.3s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .chat-message-left {
    background-color: #b2d8ff;
    color: #333;
    border-radius: 20px 20px 20px 0;
    padding: 10px 20px;
    margin: 0 auto 10px 0;
    max-width: 60%;
    text-align: left;
    display: inline-block;
    animation: slideInLeft 0.3s ease-in-out;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .chat-sender {
    font-weight: bold;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  